/** Mobile first **/
.image-carousel {
    height: auto;
}

.image-slider {
    cursor: pointer;
    transition: width 1s, opacity 4s;
}

.image-slider-small {
    display: none;
    opacity: 0.5;
}

.nav-arrow-image {
    cursor: pointer;
    transform: rotate(90deg);
    width: 20%;
}

@media (min-width: 640px){

}

@media (min-width: 768px){

}


@media (min-width: 1024px){
    .image-slider-small {
        display: block;
    }

    .nav-arrow-image {
        transform: rotate(0deg);
        width: 100%;
    }
}

@media (min-width: 1200px){
    .image-slider-small {
        display: block;
    }

    .nav-arrow-image {
        transform: rotate(0deg);
        width: 100%;
    }
}
